# dev environments
.venv/
open_venv*
.env*
*.env
.vscode/

# testing
coverage/
.coverage

# Dataset
*dataset/
!*/test/dataset/
*.pth

# Logs
logs
*.log

# production
build/
release/
dist/
dll/
output/

# misc
.DS_Store
placeholder_*
__pycache__/
